.header-row {
  justify-content: space-between;
}

::ng-deep .modal-backdrop {
  z-index: 1040 !important;
}

:host ::ng-deep ng-select .ng-dropdown-panel {
  z-index: 9999999;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08) !important;
  border-radius: 8px !important;
}

input {
  font-size: 14px;
}

.input-file {
  display: none;
}

.card-header {
  padding: 10px 4px 1px 12px !important;
  background-color: white;
}

.align {
  text-align: center;
}

.primary-icon, .icon {
  color: black;
  font-size: 15px;
}

.danger-icon {
  color: #ef8157;
}

.radio {
  accent-color: yellow !important;
}

$circleSize: 30px;

.circle {
  display: inline-block;
  width: $circleSize;
  height: $circleSize;
  background-color: yellow;
  border-radius: 50%;
  color: black;
  text-align: center;
  line-height: $circleSize;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.label {
  width: 30%;
}

::ng-deep .p-multiselect.p-multiselect-chip .p-multiselect-token,
::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  background: #6c757d24 !important;
}

::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover,
::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  border-color: black !important;
  background: yellow !important;
}

.filter {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 1rem;
}

select {
  border-radius: 20px;
  padding: 6px;
  font-size: 16px;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  width: 45%;
  font-weight: 600;
  font-size: small;
  box-shadow: 0 0 2px black;
}

select option {
  color: #000 !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select option:hover {
  background-color: #f0f0f0 !important;
}

.badge {
  border-radius: 2px;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.3px;

  &.status-active {
    background-color: #c8e6c9;
    color: #256029;
  }

  &.status-label {
    background-color: #c5d1e4;
    color: #2289a0;
  }

  &.status-blocked {
    background-color: #ffcdd2;
    color: #c63737;
  }

  &.status-negotiation {
    background-color: #bf9f2c;
    color: #8a5340;
  }

  &.status-new {
    background-color: #80808082;
    color: white;
  }

  &.status-renewal {
    background-color: #eccfff;
    color: #694382;
  }

  &.status-progress {
    background-color: #ffd8b2;
    color: #805b36;
  }
}
