<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row pl-3 pr-3 header-row">
          <h4 class="card-title">Modifier mot de passe</h4>
        </div>
      </div>
      <div class="card-body">
        <form
          id="form1"
          (ngSubmit)="onFormSubmit()"
          role="form"
          #testForm="ngForm"
          ngNativeValidate
        >
          <div>
            <div>
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Mot de passe actuel</label>
                    <div class="d-flex input-password-wrapper">
                      <!-- pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!+@$%^&*-<>/\;:.,~!='{}]).{8,}$"
                        oninvalid="setCustomValidity('Le mot de passe doit comporter 8 caractères et doit contenir au moins une lettre majuscule, une lettre minuscule, un caractère spécial et un chiffre.')"
                        oninput="setCustomValidity('')"
                       -->
                      <input
                        class="form-control"
                        [type]="viewOldPassword ? 'text' : 'password'"
                        placeholder="mot de passe actuel"
                        required
                        [(ngModel)]="newPasswordReset.oldPassword"
                        name="oldPassword"
                      />
                      <i
                        class="icon-input fa"
                        [ngClass]="{
                          'fa-eye-slash': !viewOldPassword,
                          'fa-eye': viewOldPassword
                        }"
                        (click)="changeViewOldPassword()"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Nouveau mot de passe</label>
                    <div class="d-flex input-password-wrapper">
                      <input
                        class="form-control"
                        [type]="viewPassword ? 'text' : 'password'"
                        placeholder="nouveau mot de passe"
                        required
                        [(ngModel)]="newPasswordReset.password"
                        name="userNewPassword"
                        pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!+@$%^&*-<>/\;:.,~!='{}]).{8,}$"
                        oninvalid="setCustomValidity('Le mot de passe doit comporter 8 caractères et doit contenir au moins une lettre majuscule, une lettre minuscule, un caractère spécial et un chiffre.')"
                        oninput="setCustomValidity('')"
                      />
                      <i
                        class="icon-input fa"
                        [ngClass]="{
                          'fa-eye-slash': !viewPassword,
                          'fa-eye': viewPassword
                        }"
                        (click)="changeViewPassword()"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Répéter le mot de passe</label>
                  <div class="d-flex input-password-wrapper">
                    <input
                      class="form-control"
                      [type]="viewConfirmPassword ? 'text' : 'password'"
                      placeholder="Répéter le mot de passe"
                      (input)="matchPassword($event)"
                      required
                      [(ngModel)]="newPasswordReset.confirmPassword"
                      name="userConfirmNewPassword"
                      pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!+@$%^&*-<>/\;:.,~!='{}]).{8,}$"
                      oninvalid="setCustomValidity('Le mot de passe doit comporter 8 caractères et doit contenir au moins une lettre majuscule, une lettre minuscule, un caractère spécial et un chiffre.')"
                      oninput="setCustomValidity('')"
                    />
                    <i
                      class="icon-input fa"
                      [ngClass]="{
                        ' fa-eye-slash': !viewConfirmPassword,
                        ' fa-eye': viewConfirmPassword
                      }"
                      (click)="changeViewConfirmPassword()"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-round" type="submit">
            Réinitialiser le mot de passe
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
