<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row pl-3 pr-3 header-row">
          <h4 class="card-title">Liste des employés</h4>
          <div style="display: flex">
            <div style="margin-right: 10px">
              <input
                class="radio"
                type="radio"
                id="collaborator"
                name="roles"
                value="OPERATOR"
                [(ngModel)]="userType"
                (change)="getAllUser()"
              />
              <label for="collaborator">Opérateur</label>
            </div>
            <div style="margin-right: 10px">
              <input
                class="radio"
                type="radio"
                id="manager"
                name="roles"
                value="MANAGER"
                [(ngModel)]="userType"
                (change)="getAllUser()"
              />
              <label for="manager"> Chef d'équipe</label>
            </div>
            <div>
              <input
                class="radio"
                type="radio"
                id="admin"
                name="roles"
                value="ADMINISTRATOR"
                [(ngModel)]="userType"
                (change)="getAllUser()"
              />
              <label for="admin">Administrateur</label>
            </div>
          </div>
          <div class="update">
            <button
              type="submit"
              (click)="onAdd()"
              class="btn btn-primary btn-round"
            >
              Ajouter un employé
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-xl-6 col-md-6 col-12 mb-1">
            <div class="form-group">
              <label for="basicInput">Chercher des utilisateurs</label>
              <input
                type="text"
                class="form-control"
                id="basicInput"
                placeholder="Saisir un text"
                (keyup)="search($event)"
                [(ngModel)]="searchText"
              />
            </div>
          </div>
        </div>
        <div
          *ngIf="userList.length != 0; else emptyTemplate"
          class="table-responsive"
        >
          <table class="table">
            <thead class="text-primary">
              <th>Matricule</th>
              <th>Nom complet</th>
              <th>Email</th>
              <th>Numéro de telephone</th>
              <th>Fonction</th>
              <th class="text-right">Action</th>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let user of userList
                    | paginate
                      : {
                          itemsPerPage: pageSize,
                          currentPage: page,
                          totalItems: collectionSize
                        }
                "
              >
              <td>{{user.identifier}}</td>
                <td>{{ user.userFirstName }} {{ user.userLastName }}</td>
                <td>{{ user.userEmail }}</td>
                <td *ngIf="user.userPhoneNumber != null">
                  {{ user.userPhoneNumber }}
                </td>
                <td *ngIf="user.userPhoneNumber == null">Non Défini</td>
                <td>{{ getFunction(user.userRole) }}</td>
                <td class="text-right">
                  <i
                    class="fa fa-pencil-square-o mr-3 primary-icon action-icon"
                    (click)="onEdit(user)"
                  ></i>
                  <i
                    class="fa fa-trash mr-3 danger-icon action-icon"
                    (click)="onDelete(user)"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #emptyTemplate> Aucun employé a été trouvé! </ng-template>

        <div *ngIf="userList.length > 0" class="mt-3 align">
          <pagination-controls
            (pageChange)="onPageChange($event)"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modalContent let-c="close" let-d="dismiss">
    <div class="modal-body body-model" [dir]="direction">
      <div class="mod-body">
        <div class="col-md-12">
          <div class="card-user">
            <div class="card-header">
              <h5 class="card-title">{{ modalTitle }}</h5>
            </div>
            <div class="card-body">
              <form id="form" role="form" #testForm="ngForm" ngNativeValidate>
                <div>
                  <div
                    class="row uploaddiv d-flex align-items-center flex-nowrap"
                  >
                    <div class="profile-edit-photo pl-3 pr-2">
                      <div *ngIf="urlUserPhoto != null" class="profile-pic">
                        <img [src]="urlUserPhoto" class="img" />
                      </div>
                      <div
                        *ngIf="urlUserPhoto == null"
                        id="profileImageEdit"
                        class="profile-pic"
                      >
                        <img src="assets/img/anonymous.png" class="img" />
                      </div>
                    </div>
                    <div class="edit-photo-actions d-flex">
                      <button
                        type="button"
                        class="btn btn-primary btn-round"
                        (click)="profilePicture.click()"
                      >
                        Telecharger une image
                      </button>
                      <button
                        class="btn btn-round btn-default"
                        (click)="deletePhoto()"
                      >
                        Supprimer
                      </button>
                    </div>
                  </div>
                  <input
                    #profilePicture
                    type="file"
                    id="myfilephoto"
                    name="myfilephoto"
                    (change)="onSelectFile($event)"
                    class="input-file"
                    accept="image/*"
                    class="input-file"
                  />
                </div>
                <div class="row">
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label>Nom</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Nom"
                        required
                        [(ngModel)]="userRequest.userFirstName"
                        name="userFirstName"
                      />
                    </div>
                  </div>
                  <div class="col-md-6 pl-1">
                    <div class="form-group">
                      <label>Prénom</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        placeholder="Prénom"
                        [(ngModel)]="userRequest.userLastName"
                        name="userLastName"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 pr-1">
                    <div class="form-group">
                      <label>Matricule</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Matricule"
                        [(ngModel)]="userRequest.identifier"
                        name="identifier"
                        #identifier="ngModel"
                        required
                        pattern="^[0-9]*$"
                      />
                      <div *ngIf="identifier.errors?.required && identifier.touched" class="error" style="color: red;">
                        Le matricule est requis.
                      </div>
                      <div *ngIf="identifier.errors?.pattern && identifier.touched" class="error" style="color: red;">
                        Le matricule doit être numérique.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Email</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        placeholder="Email"
                        [(ngModel)]="userRequest.userEmail"
                        name="userEmail"
                        #userEmail="ngModel"
                        pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,15}$"
                      />
                      <div *ngIf="userEmail.errors?.required && userEmail.touched" class="error" style="color: red;">
                        Un e-mail est requis.
                      </div>
                      <div *ngIf="userEmail.errors?.pattern && userEmail.touched" class="error" style="color: red;">
                        Format d'email invalide.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label>Numéro de téléphone</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Numéro de téléphone"
                        [(ngModel)]="userRequest.userPhoneNumber"
                        name="userPhoneNumber"
                        #userPhoneNumber="ngModel"
                        required
                        pattern="^[0-9]{8}$"
                      />
                      <div *ngIf="userPhoneNumber.errors?.required && userPhoneNumber.touched" class="error" style="color: red;">
                        Le numéro de téléphone est requis.
                      </div>
                      <div *ngIf="userPhoneNumber.errors?.pattern && userPhoneNumber.touched" class="error" style="color: red;">
                        Le numéro de téléphone doit comporter 8 chiffres.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pl-1">
                    <div class="form-group">
                      <label>Role</label>
                      <select
                        [searchable]="false"
                        required
                        placeholder="Role"
                        class="form-control"
                        name="role"
                        [(ngModel)]="userRequest.userRole"
                        name="userRole"
                      >
                        <option
                          *ngFor="let type of accountTypes"
                          [value]="type.key"
                        >
                          {{ type.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="update ml-auto mr-2">
                    <button
                      type="button"
                      class="btn btn-round cancel"
                      (click)="d('Cross click')"
                    >
                      Annuler
                    </button>
                  </div>
                  <div class="update ml-auto mr-auto">
                    <button
                      type="submit"
                      class="btn btn-primary btn-round"
                      (click)="onSaveUser(testForm)"
                    >
                      Enregistrer
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
