.icon {
  width: 22px;
}
.badge-style-pending {
  background-color: #fd9e45;
}
.badge-style-finalized {
  background-color: #00b427;
}
.badge-style-canceled {
  background-color: #b9bbb9;
}
.badge-style-archived {
  background-color: #779ee7ef;
}
